.glossaryPageContainer {
    margin: 0 auto;
    width: 1250px;
    /* border-left: 1px solid lightgray; */
    /* border-right: 1px solid lightgray; */
}
.glossaryPageHeader {
    /* margin: 0 auto; */
    /* width: 1250px; */
    padding: 50px 10px 20px 30px;
}
.glossaryHeaderText {
    color: #004187;
    font-size: 40px;
    font-family: Inter;
    font-weight: 600;
    line-height: 40px;
}
.glossaryHeaderImage {
    margin-top: -185px;
    float: right;
}
.glossaryPageSection1 {
    margin: 0 auto;
    width: 1250px;
    /* padding: 0px 0px 40px 110px; */
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.glossaryContent1 {
    width: 83%;
    padding: 40px 0px 60px 0px;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}
.glossaryContentHeader1 {
    padding-bottom: 10px;
    /* color: #2dc799; */
    color: #00a272;
    font-weight: 300;
    font-size: 33px;
}
.glossaryContent1 a {
    color: rgb(0, 150, 255);
    font-weight: bold;
    text-underline-offset: 2px;
}
.glossaryPageSection2Container {
    margin: 0 auto;
    width: 1250px;
    /* padding: 10px 10px 80px 10px; */
    /* border-left: 1px solid lightgray; */
    /* border-right: 1px solid lightgray; */
}
.grid{
    color: white;
    border-bottom: 1px solid lightgray;
}
.glossaryItemHeader {
    /* text-underline-offset: 2px; */
    color: #00a272;
    font-family: Inter;
    font-weight: 600;
    margin-bottom: 0px;
}
.glossaryItemType {
    color: #838383;
    /* padding-top: 5px; */
    /* margin-top: 2px; */
    font-size: 85%;
    font-family: Inter;
    font-weight: 600;
}
.glossaryItemDescription {
    padding-top: 5px;
    font-family: Lato;
    font-size: 17px;
}
.glossaryItemLink {
    margin-top: -10px;
    color: #00a272;
}
.glossaryItemLink a {
    margin-top: -10px;
    font-weight: 500;
    font-family: Lato;
    font-size: 17px;
    color: #00a272;
    text-decoration: none;
}
.glossaryPageContainer .nav {
    /* width: 100%; */
    width: 920px;
    height: 40px;
    /* height: 100%; */
    text-align: center;
    margin-left: 140px;
    margin-top: 40px;
    margin-bottom: 50px;
    /* padding-bottom: -20px; */
    background-color: rgb(240, 240, 240);
    border-radius: 20px 20px 20px 20px;
}
.glossaryPageContainer .nav-link {
    width: 3%;
    color: black;
    position: relative;
    top: -20px;
    /* font-weight: bold; */
    /* border-radius: 10px 10px 10px 10px; */
    /* background-color: lightgray; */
}
  /* .filter-links li {
    display: inline;
    float: left;
  } */

.glossaryPageContainer .nav-link-active {
    color: #00a272;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
}

.glossaryPageContainer .nav-link.disabled {
    color: rgb(160, 160, 160);
}

.filter-links a:hover {
    color: #00a272;
}

.filter-sections {
    width: 100%;
    display: block;
    overflow: hidden;
}
.filter-sections div {
    min-height: 50px;
    margin: 0.5em;
    /* text-align: center; */
    /* padding: 2em 1em; */
    /* float: left; */
    /* transition: all 500s ease; */
}
.view {
    display: block !important;
    opacity: 1 !important;
    transform: scale(1) rotate(0deg);
    border-radius:4px;
    /* animation: selected 300ms 1 ease-in-out; */
}
  /* @keyframes selected {
    0% {
      border-radius:100%;
      transform: scale(0) rotate(-180deg);
    }
  } */