.page-link-ccdc {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #e8f1f8;
  color: #004187;
  border: 0;
  font-weight: bold;
  font-size: 17px;
  padding: .375rem .75rem;
  font-family: Lato;
}

.page-link-ccdc-inactive {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: lightgray;
  color: #004187;
  border: 0;
  font-weight: bold;
  font-family: Lato;
  font-size: 17px;
  padding: .375rem .75rem;
  cursor: auto;
}

.page-link-ccdc:hover {
  background-color: #c6d2db;
  color: #004187;
}

.page-link-ccdc-inactive:hover {
  color: #004187;
}

.page-item.active .page-link-ccdc {
  background-color: #004187;
  color: white;
}