.page-link-ccdc {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #F6FBFF;
  color: #004187;
  border: 0;
  font-weight: bold;
  font-size: 15px;
  padding: .250rem .5rem;
  font-family: Lato;
}

.page-link-ccdc-inactive {
  position: relative;
  display: block;
  text-decoration: none;
  color: gray;
  border: 1px solid #A0B3C8;
  background-color: #F6FBFF;
  /* border: 0; */
  font-weight: bold;
  font-family: Lato;
  font-size: 15px;
  padding: .250rem .5rem;
  cursor: auto;
}

.page-link-ccdc:hover {
  background-color: #c6d2db;
  color: #004187;
  border: 1px solid #A0B3C8;
}

.page-link-ccdc-inactive:hover {
  color: gray;
  border: 1px solid #A0B3C8;
}

.page-item.active .page-link-ccdc {
  border: 1px solid #A0B3C8;
  background-color: #BFE3FF;
}

.dropdown-item.active {
  border: 1px solid #7CACCF;
  background-color: #FFFFFF;
}

.dropdown-menu {
  border: 1px solid #7CACCF;
}