.page-link-ccdc {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #F6FBFF;
  color: #004187;
  border: 0;
  font-weight: bold;
  font-family: Lato;
  font-size: 15px;
  padding: .275rem .45rem;
}

.page-link-ccdc-inactive {
  position: relative;
  display: block;
  text-decoration: none;
  color: gray;
  /* border: 1px solid #A0B3C8; */
  background-color: #F6FBFF;
  font-weight: bold;
  font-family: Lato;
  font-size: 15px;
  padding: .275rem .65rem;
  cursor: auto;
}

.page-link-ccdc-prev {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #F6FBFF;
  color: #004187;
  border-right: 1px solid #A0B3C8;
  font-weight: bold;
  font-family: Lato;
  font-size: 15px;
  padding: .275rem .65rem;
}

.page-link-ccdc-next {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #F6FBFF;
  color: #004187;
  border-left: 1px solid #A0B3C8;
  font-weight: bold;
  font-family: Lato;
  font-size: 15px;
  padding: .275rem .65rem;
}

.page-link-ccdc:hover {
  background-color: #c6d2db;
  color: #004187;
  /* border-left: 1px solid #A0B3C8; */
  /* border-right: 1px solid #A0B3C8; */
}

.page-link-ccdc-inactive:hover {
  color: gray;
  /* border: 1px solid #A0B3C8; */
}

.page-item.active .page-link-ccdc {
  border-left: 1px solid #A0B3C8;
  border-right: 1px solid #A0B3C8;
  background-color: #BFE3FF;
  padding: .275rem .45rem;
}

.dropdown-item.active {
  /* border: 1px solid #7CACCF; */
  border-top: 1px solid #7CACCF;
  border-bottom: 1px solid #7CACCF;
  background-color: #FFFFFF;
}

.dropdown-item.active-top {
  border-bottom: 1px solid #7CACCF;
  background-color: #FFFFFF;
}

.dropdown-item.active-bottom {
  border-top: 1px solid #7CACCF;
  background-color: #FFFFFF;
}

.dropdown-menus {
  border: 1px solid #7CACCF;
}