@font-face {
  font-family:"Open Sans";
  src:url(./fonts/OpenSans-VariableFont.ttf);
}

@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-Light.ttf);
  font-weight:300;
}

@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-Regular.ttf);
  font-weight:400;
}

@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-Medium.ttf);
  font-weight:500;
}

@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-SemiBold.ttf);
  font-weight:600;
}

@font-face {
  font-family:"poppins";
  src:url(./fonts/Poppins-Bold.ttf);
  font-weight:700;
}