.searchPageContainer {
    padding: 3%;
}
.searchHeader {
    color: navy;
    margin-top: -20px;
}
.exportButton {
    width: 15%;
    background-color: navy;
    margin-left: 950px;
}
.searchBar {
    width: 900px;
    height: 50px;
    border: 2px solid black;
    border-right: none;
    padding: 5px;
    /* font-size: 30px; */
    /* font-weight: bold; */
}
.searchPageSearchButton {
    background-color: blue;
    width: 10%;
    height: 50px;
    margin-bottom: 5px;
    margin-left: -5px;
}
.chosenFilters {
    height: 0%;
    font-size: 80%;
    padding-bottom: 50%;
}
.space20 {
    /* top right bottom left */
    /* padding: 120px 0px 120px 0px; */
    padding-bottom: 20px;
}
.space40 {
    /* top right bottom left */
    /* padding: 120px 0px 120px 0px; */
    padding-bottom: 40px;
}
.space10 {
    /* top right bottom left */
    /* padding: 120px 0px 120px 0px; */
    padding-bottom: 10px;
}
.searchPagination {
    float: none;
}
.pagination a {
    color: black;
    float: right;
    padding: 8px 8px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 60%;
    font-weight: bold;
    background-color: lightsteelblue;
    filter: brightness(1.2);
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
