.searchPageContainer {
    padding: 3%;
}
.searchHeader {
    color: navy;
    margin-top: -20px;
}
.exportButton {
    width: 15%;
    background-color: navy;
    margin-left: 900px;
    margin-top: -80px;
}
.searchBar {
    width: 600px;
    height: 40px;
    border: 2px solid black;
    border-right: none;
    padding: 5px;
    /* font-size: 30px; */
    /* font-weight: bold; */
}
.searchPageSearchButton {
    background-color: navy;
    width: 80px;
    height: 40px;
    margin-bottom: 4px;
    margin-left: -5px;
}
.chosenFilters {
    height: 0%;
    font-size: 80%;
    padding-bottom: 50%;
}
/* .filterAccordion {
    height: 0;
    overflow: hidden;
} */
.checked {
    color: red;
}
.form-select {
    width: 120px;
    height: 30px;
    font-size: 90%;
    margin-bottom: -20px;
}
.space10 {
    /* top right bottom left */
    /* padding: 120px 0px 120px 0px; */
    padding-bottom: 10px;
}
.space20 {
    padding-bottom: 20px;
}
.space40 {
    padding-bottom: 40px;
}
.separater1 {
    background-color: lightgray;
    width: 1200px;
    height: 2px;
}
.separater2 {
    background-color: lightgray;
    width: 800px;
    height: 2px;
}
.separater3 {
    background-color: lightgray;
    width: 220px;
    height: 2px;
    margin-bottom: 10px;
}
.searchPagination {
    float: none;
}
.pagination a {
    color: navy;
    /* float: right; */
    padding: 4px 6px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 60%;
    font-weight: bold;
    background-color: lightsteelblue;
    filter: brightness(1.2);
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}  
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* .filterAccordion {
} */
.filterHeader {
    color: navy;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: -1px;
}
.accordion-item {
    border-color: rgb(0, 183, 255);
    padding-top: -10px;
    padding-bottom: -10px;
    height: 5%;
    width: 120%;
}
.accordion-header {
    font-size: 50%;
}
.accordion-button {
    font-size: 150%;
    margin-left: -17px;
    width: 110%;
}
.accordion-body {
    font-size: 90%;
    margin-left: -20px;
    width: 120%;
}
.alert {
    background-color: lightgray;
    width: 70%;
    height: 80px;
    font-size: 80%;
    color: black;
    border-color: gold;
    border-radius: 16px;
}
.xbtn {
    background-color: lightgray;
    width: 70%;
    height: 30px;
    font-size: 80%;
    color: black;
    border-color: gold;
    border-radius: 16px;
}
.xbtn2 {
    background-color: lightgray;
    width: 80%;
    height: 30px;
    font-size: 80%;
    color: black;
    border-color: gold;
    border-radius: 16px;
}
.btn.close {
    margin-left: 20px;
    margin-right: -70px;
    margin-top: -25px;
    margin-bottom: -20px;
}
.btn.close2 {
    margin-left: 10px;
    margin-right: -70px;
    margin-top: -25px;
    margin-bottom: -20px;
}
.xtext {
    margin-left: -20px;
}
