.searchBarContainer {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.searchBarArea {
  margin: 0 auto;
  width: 1200px;
  display: grid;
}

.searchBarLabel {
  padding: 20px 0 10px 5px;
  color: #07368b;
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.searchBoxContainer {
  width: 100%;
  display: flex;
}

.searchCatalogContainer {
  width: 100%;
}

.searchArea {
  margin: 0 auto;
  width: 1200px;
  display: flex;
}

.searchFiltersContainer {
  width: 20%;
  border-left: 1px solid #e0e4e7;
  border-right: 1px solid #e0e4e7;
}

.searchContentContainer {
  width: 80%;
  border-right: 1px solid #e0e4e7;
  padding: 5px 10px;
}

.searchContentHeader {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #a1c0d1;
}

.contentSwitchArea {
  width: 50%;
}

.exportArea {
  width: 50%;
}

.searchDisplayOptionsRow {
  width: 100%;
  display: flex;
  padding: 10px 0;
  border-bottom: 3px solid #c3d5e0;
}

.searchSortingArea {
  width: 30%;
  display: flex;
}

.contentPagingArea {
  width: 70%;
}

.space50 {
  padding-top: 50px;
  /* margin-bottom: 20%; */
}

.searchContent {
  width: 100%;
}

.searchContentFooter {
  width: 100%;
  padding: 10px 0;
  border-top: 3px solid #c3d5e0;
}