
.switch-view-content .nav-link {
  color: #8a9296;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  padding: .5rem 1rem 1.2rem 0;
}

.switch-view-content .nav-link.active {
  background-color: transparent;
  color: #014188;
  font-size: 13px;
  border-radius: 0;
}