.searchBoxInputGroup {
  float: right;
  padding: 0 0 20px 5px;
}

.searchBoxInputGroup .form-control {
  border-radius: 0;
  border: 2px solid #07368b;
  font-weight: bold;
  color: #07368b;
}

.searchBoxInputGroup .form-control::placeholder {
  color: #07368b;
  font-size: 20px;
}

.searchBoxButton {
  border-radius: 0;
  font-weight: bold;
  color: white;
  border: 2px solid #07368b;
  background-color: #07368b;
  padding: .75rem 1rem;
}