*,
*::before,
*::after {
  box-sizing: none;
}

.carousel-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-cover {
  position: absolute;
  left: 10%;
  width: 2px;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.carousel-action-wrapper {
  overflow: hidden;
  background: #212121;
}

.carousel-action-wrapper-right {
  overflow: hidden;
  background: #212121;
  z-index: 1;
  margin-left: -2px;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 90%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px 0;
}

.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.left-arrow, .right-arrow {
  z-index: 1;
  width: 48px;
  height: 100px;
  border-radius: 24px;
  background-color: transparent;
  box-shadow: 0 0 0 0 blue;
  border: 0;
  font-size: 50px;
  color: white;
  margin-top: 65px;
}

.left-arrow {
  left: 24px;
}

.left-arrow img {
  transform: rotate(180deg);
}

.right-arrow {
  right: 24px;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow, .right-arrow {
    display: none;
  }
}

.carousel-card {
  display: grid;
  padding: 0 25px;
  background-color: #212121;
}

.carousel-card-with-line {
  display: grid;
  padding: 0 25px;
  background-color: #212121;
  border-right: 2px double gray;
}

.carousel-card:last-child {
  border-right: 0px;
}

.cardTitle {
  display: flex;
  height: 100px;
}

.cardInfo {
  width: 80%;
  padding-top: 10px;
}

.cardIcon {
  width: 20%;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
}

.cardLabel {
  width: 100%;
}

.cardHeader {
  color: #FFBF17;
  width: 100%;
  text-decoration: none;
  font-size: 90%;
}

.cardHeader a:hover {
  color: #FFBF17;
}

.cardHeader h4{
  line-height: 18pt;
}

.cardContent {
  color: white;
  font-size: 90%;
  margin-top: 10px;
  height: 100px;
  /* line-height: 18pt; */
  padding-top: 16px;
  max-width: 270px;
}
