
.datasetBreadcrumbContainer {
  padding: 10px 0px 0px 0px;
  margin-bottom: -5px;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  /* background-color: #eee; */
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: goldenrod;
  content: ">";
  /* content: "/\00a0"; */
  font-size: 16px;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: goldenrod;
  text-decoration: none;
  font-size: 16px;
  font-family: Lato;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.datasetDetailHeaderContainer {
  /* padding: 0px 0 20px 20px; */
  padding: 16px 0 10px 0px;
  width: 100%;
  /* background-color: #07368b; */
  background: linear-gradient(to right, #3060b8,#05296b);
  /* border-bottom: 1px solid lightgray; */
  position: relative;
}

.datasetDetailHeaderLabel {
  padding: 0px 0px 50px 26px;
  color: white;
  font-size: 35px;
  /* font-weight: bold; */
  font-family: Inter;
  width: 95%;
  inline-size: 960px;
}

.datasetDetailHeaderContent {
  padding: 0px 0 5px 30px;
  color: white;
  font-size: 16px;
  font-family: Lato;
  width: 80%;
}

.datasetDetailHeaderText {
  /* padding: 0px 0 5px 30px; */
  /* color: #2dc799; */
  font-size: 16px;
  font-family: Lato;
  width: 100%;
  /* text-decoration: none; */
}

.datasetDetailHeaderLink {
  /* color: #2dc799; */
  color: white;
  /* text-decoration-line: underline; */
}

.datasetDetailHeaderLink:hover {
  color: lightblue;
}

.datasetIcon {
  width: 130px;
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px solid #FFBF17;
  padding: 10px;
  height: 106px;
}

.datasetTypeButton {
  /* width: 100%; */
  /* font-size: 15px; */
  background-color: white;
  margin-left: 88%;
  /* margin-bottom: -50px; */
  margin-top: 50px;
  border: 2px solid gold;
  border-radius: 20px 20px 20px 20px;
  /* margin-top: 10px; */
}

.datasetspace {
  /* padding: 10px; */
  /* padding: 0.25rem 9999rem; */
  border-bottom: 1px solid #BFD3E1;
  margin: 0 -9999rem;
}

.aboutContentContainer {
  padding: 10px 10px 60px 10px;
  border: 1px solid #BFD3E1;
  border-top: none;
  /* border-bottom: 1px solid gray; */
  /* background-color: rgb(248, 248, 248); */
  width: 1220px;
  margin-left: -10px;
  display: grid;
}

.aboutDatasetContainer {
  padding: 5px 0 10px 20px;
  background-color: rgb(248, 248, 248);
  /* border-top: 1px solid gray; */
  /* border-bottom: 1px solid gray; */
}

.aboutDatasetLabel {
  padding: 5px 0 10px 10px;
  /* color: rgb(180, 180, 180); */
  color: #99AFBE;
  font-size: 26px;
  font-family: Inter;
  /* font-weight: bold; */
  text-transform: uppercase;
  /* border-bottom: 2px solid rgb(163, 163, 163); */
  border-bottom: 3px solid #BFD3E1;
  inline-size: 1160px;
}

.aboutDatasetContent {
  padding: 30px 0px 30px 10px;
  font-family: Lato;
  border-bottom: 3px solid #BFD3E1;
  inline-size: 1160px;
}

.coreDataContainer {
  padding: 0px 30px 10px 20px;
  width: 48%;
  /* height: 300px; */
  /* height: auto; */
  /* border-right: 1px solid #e0e4e7; */
  border-right: 1px solid #BFD3E1;
  /* display: flex; */
  /* display: inline-block; */
  /* position: relative; */
  display: inline-table;
}

.coreDataLabel {
  padding: 20px 0 10px 0px;
  color: #004187;
  font-size: 22px;
  font-weight: bold;
  font-family: Lato;
  border-bottom: 1px solid #07368b;
  width: 100%;
}

.additionalDataContainer {
  padding: 0px 0 10px 30px;
  width: 48%;
  /* border-left: 1px solid lightgray; */
  display: inline-table;
}

.additionalDataLabel {
  padding: 20px 0 10px 0px;
  color: #07368b;
  font-size: 22px;
  font-weight: bold;
  font-family: Lato;
  border-bottom: 1px solid #07368b;
  /* width: 95%; */
  width: 520px;
}

.dataElementLabel {
  padding: 30px 0 10px 0px;
  /* color: #2dc799; */
  color: #25b39a;
  font-size: 16px;
  font-family: Lato;
  text-transform: uppercase;
}

.dataElementContent {
  /* font-size: 16px; */
  font-family: Lato;
  /* height: 100px; */
  max-height: 200px;
  max-width: 540px;
  overflow: auto;
  /* inline-size: 540px; */
  /* max-inline-size: 500px; */
  /* line-break: auto; */
}

.dataElementContentAllCaps {
  /* font-size: 16px; */
  font-family: Lato;
  text-transform: uppercase;
  max-height: 200px;
  max-width: 540px;
  overflow: auto;
}

.additionalDataExtraSpace {
  margin-top: -10px;
}

.additionalDataLinks {
  margin-top: 10px;
  /* color: black; */
  text-transform: none;
  max-width: 95%;
  word-break: break-all;
}

.additionalDataContent {
  margin-top: 10px;
  color: black;
  /* font-family: Lato; */
  text-transform: none;
  /* word-wrap: break-word; */
  /* overflow-wrap: break-word; */
  max-width: 95%;
  /* word-break: break-all; */
  /* line-break: anywhere; */
  /* max-inline-size: 80%; */
  /* overflow-inline: 200px; */
}

