::-webkit-input-placeholder {
  color: white;
  transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

.searchIcon {
  width: 20;
  height: 20;
  font-size: 10%;
  fill: goldenrod;
  font-weight: bold;
  padding-top: 10px;
}

.container-grid {
  display: grid;
  grid-template-columns: 500px 500px;
  height: 40vh;
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.column2 {
  float: right;
  width: 50%;
  padding: 10px;
  padding-top: 100px;
  height: 300px;
  font-size: 90%;
}

.searchContainer {
  font-family: Raleway, sans-serif;
  margin: 0 auto;
  display: flex;
}

.infoContainer {
  font-family: Raleway, sans-serif;
  margin: 0 auto;
  display: flex;
}

.heroImage {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../assets/img/CCDC.Hero.1920x1080.png");
  border-bottom: 2px solid white;
}

.heroImage2 {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../assets/img/Featured-Highlights.grey.png");
}

.texture {
  background-size: cover;
  background-color: #b6dcfc;
  padding: 120px 0 80px 0;
}

.whiteSection {
  height: 8px;
  background-color: white;
}

.redButton {
  height: 13px;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  line-height: 47px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.headerTitle {
  padding-top: 140px;
  font-family: Inter, Raleway, sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 35px;
  color: #2dc799;
  filter: brightness(1.2);
  letter-spacing: 0;
  width: 350px;
}

.headerTitle2 {
  padding-top: 90px;
  font-family: Inter, Raleway, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 45px;
  color: white;
  letter-spacing: 0;
  width: 90%;
}

.padding-left50 {
  padding-left: 50px;
}

.headerContent {
  color: #000;
  font-family: Lato, Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  margin-top: 16px;
  margin-bottom: 26px;
}

.headerContent2 {
  color: #2dc799;
  filter: brightness(1.2);
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin-top: 10px;
  margin-bottom: 26px;
  width: 60%;
  padding-top: 20px;
}

.headerLink {
  text-decoration: none;
}

.headerLink2 {
  text-decoration: none;
  float: right;
}

.iconAbout {
  height: 17px;
  width: 9px;
  margin-top: 15px;
  margin-left: 20px;
}

.icon {
  width: 20px;
  margin-top: 13px;
  margin-left: 23px;
}

.aboutImage {
  width: 297px;
  height: 249px;
  padding: 14px;
}

.aboutImageSection {
  height: 249px;
}

.DCWords {
  height: 200px;
  background-color: #274fa5;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 36px;
  padding: 10px 75px 26px 26px;
  font-family: Lato;
}

.landingContainer {
  align-items: center;
  justify-content: center;
}

.contentLeft {
  float: left;
  padding-right: 10px;
}

.about {
  width: 300px;
  background-color: white;
}

.image {
  width: 293px;
  height: 249px;
}

.aboutContent {
  background-color: white;
  min-height: 372px;
  width: 300px;
  padding: 30px 30px 32px 30px;
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.aboutButtonSection {
  background-color: white;
  height: 71px;
}

.imgIconAbout {
  width: 49px;
}

.aboutButtonLeft {
  float: left;
  background-color: #443cbb;
  height: 45px;
  width: 48px;
}

.aboutButtonRight {
  background-color: #7747ff;
  float: left;
  height: 45px;
  width: 132px;
}

.aboutButton {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 45px;
  padding-left: 20px;
  box-shadow: none;
  letter-spacing: 1px;
}

.content {
  width: 100%;
  height: 155px;
  overflow-y: auto;
  background-color: #fff;
  padding-left: 30px;
  padding-top: 5px;
  min-height: 138px;
}

.contentHeader {
  color: #033d6f;
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  line-height: 27px;
  padding: 10px 0;
}

.contentContainer {
  width: 215px;
  color: #010101;
  font-family: Nunito;
  font-size: 16px;
  line-height: 22px;
  padding-left: 2px;
  padding-bottom: 10px;
}

.program {
  float: left;
  padding: 0 10px 6.8px 0;
}

.programImg {
  background-color: #fff;
  height: 249px;
}

.studies {
  float: left;
}

.cases {
  height: 436px;
  padding-left: 340px;
  padding-top: 70px;
}

.mountainMeadowButtonSection {
  height: 46px;
  width: 176px;
  background-color: #10a075;
  margin-top: 20px;
}

.blueButton {
  height: 45px;
  background-color: #0077e3;
  color: #fff;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  padding-left: 8px;
  text-decoration: none;
  letter-spacing: 1px;
}

.blueButtonLeft {
  float: left;
}

.blueButtonRight {
  float: left;
  line-height: 44px;
  margin-left: 8px;
  font-family: Lato;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.mountainMeadowContentHeader {
  color: #033d6f;
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  padding: 15px 0;
}

.mountainMeadowContent {
  height: 143px;
  width: 230px;
  color: #010101;
  font-family: Nunito;
  font-size: 15px;
  line-height: 22px;
}

.mountainMeadowIcon {
  width: 20px;
  margin-top: 12px;
  margin-left: 28px;
}

.padding-bottom50 {
  padding-bottom: 50px;
}

.padding-top30 {
  padding-top: 30px;
}

.animationContainer {
  position: relative;
  left: 33%;
}

.padding-left2 {
  padding-left: 2px;
}

.heroTextContainer {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 900px;
}

.textSearch {
  width: 350px;
  color: #fff;
  background-color: #000;
  opacity: 0.5;
  font-weight: bold;
  font-size: 150%;
  border: 2px solid white;
}

.buttonText {
  padding: 10px 0;
  height: 40px;
  color: white;
  font-size: 100%;
  caret-color: red;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  background-color: transparent;
  border-color: transparent;
}

.buttonText:hover,
.buttonText:focus,
.buttonText:active {
  background-color: transparent !important;
  border-color: transparent !important;
  text-decoration: underline !important;
  text-underline-offset: 5px !important;
  text-decoration-thickness: 2px !important;
  color: gold !important;
  box-shadow:0 0 0 0 gold !important;
}

.buttonText h6 {
  font-weight: 600;
}

.color-black {
  color: #4c4c4c;
}

.headerButtonSection {
  margin-top: 10px;
}

.buttonText3 {
  padding: 20px 0 0 0;
  height: 10px;
  color: #020202;
  font-size: 120%;
  text-decoration: underline;
  float: right;
}

.triangleIcon {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #555;
  border-bottom: 25px solid transparent;
}

.exampleButton {
  float: left;
  width: 15%;
  padding: 10px;
  background-color: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.infoSection {
  color: white;
  font-size: 125%;
}

.search {
  width: 110%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 420px;
  height: 65px;
  border: 2px solid white;
  border-right: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.searchButton {
  width: 60px;
  height: 65px;
  border: 2px solid white;
  border-left: none;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchIcon {
  pointer-events: none;
  margin-bottom: 10px;
}